.hidden{
  display: none;
}
header{
  width: 100%;
  padding: 0px;
}
.noPadding{
  padding: 0px;
}
#homeStats{
  text-align: center;
}
.homePage{
  max-height: 600px;
}

#logIn {
  width: 80%;
  margin: 25% auto;
  text-align: center;
}

// LOGIN STYLES
input[name="username"], input[name="password"]{
  width: 50%;
  border: 1px solid darkgrey;
}

button[name="userSubmit"] {
  width: 25%;
  background-color: #BF0A30;
  color: white;
}

.col-md-8, .col-md-2 {
  display: inline-block;
}

// LINE CHART
#lineChart {
  width: 45%;
  height: 325px;
  margin-top: 30px;
  margin-left: 160px;
}

// CHAT AREA
#chat {
  margin: 0 auto;
  padding-top: 15px;
  height: 300px;
  overflow-y: scroll;
}

.responses {
  margin: 0 auto;
  padding-top: 15px;
  height: 200px;
  overflow-y: scroll;
}

.newChat {
  border: 1px solid black;
  button {
    float: right;
    width: 20%;
  }
}

.replyChat {
  border: 1px solid black;
  margin-left: 15px;
  
  button {
    float: right;
    width: 20%;
  }
}
